.site-header {
    position: fixed;
    width: 100%;
    
    &_block {
        display: flex;
        justify-content: center;

        &_name {
            left: 0px;
            color: green;
        }

        ul.breadcrumb li{
            display: inline;
        }
    }
}

.site-content {

}

.site-footer {

}